# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Environments
.env
venv/
.venv/

# OS
.DS_Store

# Data outputs
app/public/snapshots/*
!app/public/snapshots/.gitkeep
app/public/delta/*
!app/public/delta/.gitkeep
